In [42]:
#omg send help
#ok here we go

import glob
import pandas as pd

In [22]:
print("Familiarizing ourselves with the glob ")
for name in glob.glob('data/Breast_Invasive_Carcinoma/MANIFEST.txt'):
    print(name)

testing
data/Breast_Invasive_Carcinoma/MANIFEST.txt

In [41]:
#BREAST INVASIVE CARCINOMA
BICfiles = glob.glob('data/Breast_Invasive_Carcinoma/*/*.quantification.txt')
#print(BICfiles[1])

data/Breast_Invasive_Carcinoma/004ca2d1-af92-45fd-aef9-f7a84131f467/dece924e-2e46-497c-8405-52b40e072450.mirbase21.mirnas.quantification.txt

In [36]:
#KIDNEY RENAL CLEAR CELL CARCINOMA
KRCCfiles = glob.glob('data/Kidney_Renal_Clear_Cell_Carcinoma/*/*.quantification.txt')
#print(KRCCfiles[1])

data/Kidney_Renal_Clear_Cell_Carcinoma/0084b102-9991-4954-b4b3-13a6c0700544/d5d015f4-6e3d-4791-aed4-e8d8fdec6353.mirbase21.mirnas.quantification.txt

In [37]:
#LUNG ADENOCARCINOMA
LAfiles = glob.glob('data/Lung_Adenocarcinoma/*/*.quantification.txt')
#print(LAfiles[1])

data/Lung_Adenocarcinoma/016fda24-9e89-4c5b-a79d-a5bdc9ed1fb6/d1c7aaf0-d4d3-41d9-9c94-21f1ea0afe14.mirbase21.mirnas.quantification.txt

In [38]:
#LUNG SQUAMOUS CELL CARCINOMA
LSCCfiles = glob.glob('data/Lung_Squamous_Cell_Carcinoma/*/*.quantification.txt')
#print(LSCCfiles[1])

data/Lung_Squamous_Cell_Carcinoma/011355fa-1b81-4a10-a17d-42cb781caa3e/4b776bfe-1253-42ff-985e-199ccc38c6c3.mirbase21.mirnas.quantification.txt

In [39]:
#PANCREATIC ADENOCARCINOMA
PAfiles = glob.glob('data/Pancreatic_Adenocarcinoma/*/*.quantification.txt')
#print(PAfiles[1])

data/Pancreatic_Adenocarcinoma/022a362b-d03a-4d42-93bc-4c4683520bbf/6e65f195-1ebc-4c86-bc1c-9baf2344ec2b.mirbase21.mirnas.quantification.txt

In [40]:
#UVEAL MELANOMA
UMfiles = glob.glob('data/Uveal_Melanoma/*/*.quantification.txt')
#print(UMfiles[1])

data/Uveal_Melanoma/06dccb5a-c105-4335-b540-15f43cb568e2/7daa951c-7406-48cb-a6fb-b0fcebfc7f83.mirbase21.mirnas.quantification.txt

In [80]:
#ok so here's what I think I need to do:
#I need to read each of the file paths that I got from glob into dataframes then use those dataframes to 
#append each observation to a master dataframe. Also check to make sure they all have same # of rows
df = pd.read_csv(BICfiles[1], delimiter = "\t")
#df.head()
df.tail()
df['ones']=1

In [81]:
#df['miRNA_ID'].head()
df.head()

       miRNA_ID  read_count  reads_per_million_miRNA_mapped cross-mapped  ones
0  hsa-let-7a-1       91435                     9675.101346            N     1
1  hsa-let-7a-2       90923                     9620.924588            N     1
2  hsa-let-7a-3       91773                     9710.866472            N     1
3    hsa-let-7b      109568                    11593.826262            N     1
4    hsa-let-7c       17180                     1817.884192            N     1

In [88]:
newDf = df.pivot(columns='miRNA_ID', values='reads_per_million_miRNA_mapped', index='ones')
newDf

miRNA_ID,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-941-5,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b
ones,,,,,,,,,,,,,,,,,,,,,
1,9675.101346,9620.924588,9710.866472,11593.826262,1817.884192,334.477994,1189.031704,4199.545275,4264.938315,511.504784,...,0.0,5.925583,0.0,1.269768,1.05814,0.0,26.136053,44.547686,668.744359,13635.189582

In [ ]:
#this isn't working, it was my first attempt to apply what we were able to do for the one observation above
#on a mass scale
frames = []
for i in range(1,3):
    df = pd.read_csv(BICfiles[i], delimiter = "\t")
    df['ones']=1
    newDf = df.pivot(columns='miRNA_ID', values='reads_per_million_miRNA_mapped', index='ones')
    frames[i] = newDf
result = pd.concat(frames)